.about {
  min-height: 100vh;
  width: 100%;
  background: rgba(255, 165, 0, 0.05);
  background-position: center;
  background-size: cover;
  position: relative;
  /* background-image: url(img/tract-background-texture-628634-1399.png); */
  /* background: linear-gradient(to right, #f1271199, #ff6b2c99, #ff6b2c99, #f5af19); */
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  width: 80%;
  margin: auto;
  padding-top: 150px;
}
.member {
  border-radius: 15px;
}
/*--------------------------------------------------------------
    # Team
    --------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  color: black;
  padding: 30px 20px;
  background: #ffffff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  /* font-style: italic; */
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  /* font-style: italic; */
  font-weight: 400;
  color: black;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: black;
  transition: 0.3s;
  font-weight: 400;
}

.team .member .social a:hover {
  color: rgba(255, 165, 0, 0.9);
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
  font-style: normal;
  font-weight: 400;
}

.img-size {
  width: 310px;
  height: 206px;
}

/*---------------------------------------------------------------
    Section title
    ----------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: linear-gradient(
    to right,
    #f1271199,
    #ff6b2c99,
    #ff6b2c99,
    #f5af19
  );
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}

.text-color {
  background: linear-gradient(to right, #f12711, #ff6b2c, #ff6b2c, #f5af19);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
