.footer {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  min-height: 30vh;
  background-color: #870000;
  color: #fff;
  padding: 20px 0;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-main-container {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

/* Styling for the sitemap */
.sitemap h3,
.social-media h3,
.head-office h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.sitemap ul,
.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sitemap ul li,
.social-media ul li {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.sitemap ul li a,
.social-media ul li a {
  color: #fff;
  text-decoration: none;
}

.sitemap ul li a:hover,
.social-media ul li a:hover {
  text-decoration: underline;
}

/* Styling for the social media icons */
.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Styling for the head office information */
.head-office p {
  margin: 0;
  max-width: 400px;
  line-height: 1.6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* Styling for the copyright notice */
.footer p {
  margin: 0;
  /* text-align: center; */
  margin-top: 20px;
}

.copyright {
  text-align: center;
}

.logo {
  font-size: 36px;
}


@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
  /* .footer-container {
    max-width: 100%;
  }

  .footer-main-container {
    max-width: 100%;
  }

  .footer-main-container {
    margin-top: 10%;
  }

  .sitemap {
    margin-bottom: 20px;
  }

  .head-office {
    margin-bottom: 20px;
  } */
}