@media (min-width: 300px) {
  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .card-title {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  .card-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .card-title {
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
  }

  .card-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .card-title {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
  }

  .card-text {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .card-title {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.35rem;
  }

  .card-text {
    font-size: 2rem;
  }
}